/* @import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather:wght@400;700&display=swap"); */

/* @font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Golos_Text/GolosText-Regular.ttf?as=woff2") format("woff2");
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Golos_Text/GolosText-Medium.ttf?as=woff2") format("woff2");
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Golos_Text/GolosText-SemiBold.ttf?as=woff2")
    format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf?as=woff2")
    format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Merriweather/Merriweather-Bold.ttf?as=woff2")
    format("woff2");
} */
