.page-footer {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 0 60px;
  background-color: var(--bg-color);
  font-size: var(--font-size);
  line-height: 1.3;
}

.page-footer p {
  opacity: 0.6;
}

@media screen and (min-width: 1000px) {
  .page-footer {
    padding: 40px 0 72px;
    line-height: 1.2;
  }
}
